<section id="merch" class="merch-section section text-center">
  <div class="container">
    <h2 class="section-title">Tournee-Stücke</h2>
    <div class="row">
      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <img class="img-fluid" src="assets/images/merch/merch-1.jpg" alt="">
          <a class="mask" href="#">
            <span class="mask-inner">
              <span class="item-title">Band T-Shirt $16</span>
              <span class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor aenean massa.</span>
              <span class="btn btn-primary btn-cta">Buy Now</span>
            </span>
          </a>
        </div>
        <!--//item-inner-->
      </div>
      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <img class="img-fluid" src="assets/images/merch/merch-2.jpg" alt="">
          <a class="mask" href="#">
            <span class="mask-inner">
              <span class="item-title">Band T-Shirt $16</span>
              <span class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor aenean massa.</span>
              <span class="btn btn-primary btn-cta">Buy Now</span>
            </span>
          </a>
        </div>
        <!--//item-inner-->
      </div>
      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <img class="img-fluid" src="assets/images/merch/merch-3.jpg" alt="">
          <a class="mask" href="#">
            <span class="mask-inner">
              <span class="item-title">Band Hoody $16</span>
              <span class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
              <span class="btn btn-primary btn-cta">Buy Now</span>
            </span>
          </a>
        </div>
      </div>
      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <img class="img-fluid" src="assets/images/merch/merch-4.jpg" alt="">
          <a class="mask" href="#">
            <span class="mask-inner">
              <span class="item-title">Band Tote Bag $8</span>
              <span class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
              <span class="btn btn-primary btn-cta">Buy Now</span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--//row-->

    <div class="merch-action">
      <a class="btn btn-ghost-primary" href="#">View All Items</a>
    </div>

  </div>
  <!--//container-->
</section>
<!--//merch-section-->
