<section class="contact-section section text-center" id="contact">
	<div class="container">
		<h2 class="section-title">Über Petruschka</h2>
		<div class="section-intro center-block">
			<p>Der Name Petruschka kommt von der Hauptfigur des traditionellen, russischen Jahrmarkttheaters. Eigentlich aber
				haben wir nur eines mit dieser Art Theater gemeinsam: Die spontane, zum Teil improvisierte Art des Spiels und
				den Einbezug der Zuschauer.</p>
			<p>Wenn wir aber mit unseren Figuren, der Bühne und allem Drum und Dran unterwegs in eine Schule oder ein
				Kleintheater sind, dann kommt schon so etwas wie Jahrmarkts-Theaterstimmung bei uns auf.</p>
			<p>Figuren, Bühne, Lieder, Musik- und Lichtgestaltung entstehen in einem langen Prozess und basieren auf
				fundierten Recherchen. Die Kinder nehmen an einem lebendigen, spannenden und informativen Theater teil und
				werden aktiv ins Geschehen miteinbezogen.</p>
		</div>
		<div class="contact-block mr-auto ml-auto">
			<div class="row">

				<div class="item col-12 col-lg-4">
					<div class="item-inner">
						<div class="icon-holder">
							<i class="fas fa-info-circle"></i>
						</div>
						<!--//icon-holder-->
						<h4 class="title">Allgemeine Anfragen</h4>
						<div class="email"><a href="mailto:info@petruschka.ch">info@petruschka.ch</a></div>
					</div>
					<!--//item-inner-->
				</div>
				<!--//item-->

				<div class="item col-12 col-lg-4">
					<div class="item-inner">
						<div class="icon-holder">
							<i class="fas fa-calendar-check"></i>
						</div>
						<!--//icon-holder-->
						<h4 class="title">Booking</h4>
						<div class="email"><a href="mailto:mariannehofer@kinderkultur.ch">mariannehofer@kinderkultur.ch</a></div>
					</div>
					<!--//item-inner-->
				</div>
				<!--//item-->

				<div class="item col-12 col-lg-4">
					<div class="item-inner">
						<div class="icon-holder">
							<i class="fas fa-newspaper"></i>
						</div>
						<!--//icon-holder-->
						<h4 class="title">Presse</h4>
						<div class="email"><a href="mailto:mariannehofer@kinderkultur.ch">mariannehofer@kinderkultur.ch</a></div>
					</div>
					<!--//item-inner-->
				</div>
				<!--//item-->
			</div>
			<!--//row-->
		</div>
		<!--//contact-list-->
		<div class="channels-block">
			<ul class="channels-list list-inline">

				<!-- <li class="list-inline-item mr-3"><a href="#"><img alt="" class="icon" src="assets/images/itunes.svg"></a></li>
				<li class="list-inline-item mr-3"><a href="#"><img alt="" class="icon" src="assets/images/lastfm.svg"></a></li>
				<li class="list-inline-item mr-0 mr-md-3"><a href="#"><img alt="" class="icon" src="assets/images/vevo.svg"></a>
				</li>
				<li class="d-block d-md-none"></li>
				<li class="list-inline-item mr-3"><a href="#"><img alt="" class="icon" src="assets/images/bandcamp.svg"></a>
				</li>
				<li class="list-inline-item mr-0"><a href="#"><img alt="" class="icon" src="assets/images/deezer.svg"></a></li> -->
			</ul>
		</div>
		<!--//channels-block-->
		<div class="social-media-block">
			<ul class="list-inline social-media-list">
				<!-- <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
				<!-- <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-soundcloud"></i></a></li>
				<li class="list-inline-item mr-0 mr-sm-3"><a href="#"><i class="fab fa-spotify"></i></a></li> -->
				<li class="d-block d-sm-none"></li>
				<li class="list-inline-item mr-3"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<!-- <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-instagram"></i></a></li> -->
				<li class="list-inline-item mr-0"><a href="#"><i class="fab fa-twitter"></i></a></li>
			</ul>
		</div>
		<!--//social-media-block-->
	</div>
	<!--//containter-->

</section>
<!--/main-->
