@import "/src/scss/theme-1.scss";

.contact-section {
	background: $text-color-primary;
	text-align-last:center;


	color: rgba(256, 256, 256, 0.75);
	// a {
	// 	color: rgba(256, 256, 256, 0.75);
	// 	&:hover {
	// 		color: $theme-color;
	// 	}
	//}
	.section-title {
	//	margin-bottom: 30px;
		color: #fff;
	}

	.contact-block {
		max-width: 800px;
		margin-bottom: 90px;
		.item {
			margin-bottom: 30px;
		}
		.title {
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			margin-top: 0;
			margin-bottom: 5px;
			font-size: 18px;
		}
		.icon-holder {
			margin-bottom: 15px;
		}
		.svg-inline--fa {
			margin-right: 5px;
			color: $theme-color;
			font-size: 24px;
		}
	}

	#history .border-box-item {
		flex-grow: 4;
	}

	.border-box-item{
		a {
			color: $text-color-grey;
		}
	}


	.no-border {
			border-width: 0;
	}

	img {
		height: 40px;
	}

	.channels-list {
		margin-bottom: 45px;
		a {
			@include opacity(0.4);
			&:hover {
				@include opacity(1);
			}
		}
		li {
			margin-bottom: 15px;
		}
	}

	.social-media-list {
		margin-bottom: 0;
		a {
			color: rgba(256, 256, 256, 0.4);
			&:hover {
				color: #fff;
			}
		}
		li {
			margin-bottom: 15px;
		}
		.svg-inline--fa {
			font-size: 32px;
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.contact-section .channels-list .icon {
		//height: 15px;
	}
}
