@import "/src/scss/theme-1.scss";

@keyframes zoom {
	from {
		transform: scale(1.4, 1.4);
	}
	to {
		transform: scale(1, 1);
	}
}
@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(1.4, 1.4);
	}
	to {
		-webkit-transform: scale(1, 1);
	}
}
@-moz-keyframes zoom {
	from {
		-moz-transform: scale(1.4, 1.4);
	}
	to {
		-moz-transform: scale(1, 1);
	}
}
@media only screen and (orientation: landscape) {
	@for $i from 0 through 5 {
		#slide-ngb-slide-#{$i} {
			background: url("../../../../assets/images/bg/landscape/0#{$i + 1}.jpg") no-repeat center center fixed;
			animation: zoom 7.7s ease-in-out infinite;
			-webkit-animation: zoom 7.7s ease-in-out infinite;
			-moz-animation: zoom 7.7s ease-in-out infinite;
			-o-animation: zoom 7.7s ease-in-out infinite;
			-ms-animation: zoom 7.7s ease-in-out infinite;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}
}

@media only screen and (orientation: portrait) {
	@for $i from 0 through 5 {
		#slide-ngb-slide-#{$i} {
			background: url("../../../../assets/images/bg/portrait/0#{$i + 1}.jpg") no-repeat center center fixed;
			animation: zoom 7.7s ease-in-out infinite;
			-webkit-animation: zoom 7.7s ease-in-out infinite;
			-moz-animation: zoom 7.7s ease-in-out infinite;
			-o-animation: zoom 7.7s ease-in-out infinite;
			-ms-animation: zoom 7.7s ease-in-out infinite;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}
}
