<ngb-carousel *ngIf="images" class="promo-carousel carousel slide carousel-fade">
	<!--div class="carousel-inner carousel-zoom"-->
	<ng-template class="carousel-item slide-1 xxx fade-out" ngbSlide>
		<div class="d-flex align-items-center justify-content-center min-vh-100">
		</div>
	</ng-template>
	<ng-template class="carousel-item slide-2 xxx fade-out" ngbSlide>
		<div class="d-flex align-items-center justify-content-center min-vh-100">

		</div>
	</ng-template>
	<ng-template class="carousel-item slide-3 xxx fade-out" ngbSlide>
		<div class="d-flex align-items-center justify-content-center min-vh-100">

		</div>
	</ng-template>
	<ng-template class="carousel-item slide-4 xxx fade-out" ngbSlide>
		<div class="d-flex align-items-center justify-content-center min-vh-100">

		</div>
	</ng-template>
	<ng-template class="carousel-item slide-5 xxx fade-out" ngbSlide>
		<div class="d-flex align-items-center justify-content-center min-vh-100">

		</div>
	</ng-template>
	<ng-template class="carousel-item slide-6 xxx fade-out" ngbSlide>
		<div class="d-flex align-items-center justify-content-center min-vh-100">

		</div>
	</ng-template>
	<!--/div-->
</ngb-carousel>
