<header id="header" class="header fixed-top">
    <div class="container ">
        <nav class="main-nav navbar navbar-expand-md" role="navigation">
          <button class="navbar-toggler navbar-dark " type="button"  (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="toggle-title">Menu</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbar-collapse" [ngbCollapse]="isMenuCollapsed" class="navbar-collapse collapse text-center justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item"><div class="active nav-link scrollto" (click)="scrollTo('promo')" [ngClass]="{ 'current-section': currentSection === 'promo' }" >Home</div></li>
              <li class="nav-item"><div class="nav-link scrollto" (click)="scrollTo('gigs')" [ngClass]="{ 'current-section': currentSection === 'gigs' }">Gigs</div></li>
              <li class="nav-item"><div class="nav-link scrollto" (click)="scrollTo('music')" [ngClass]="{ 'current-section': currentSection === 'music' }">Music</div></li>
              <li class="nav-item"><div class="nav-link scrollto" (click)="scrollTo('about')" [ngClass]="{ 'current-section': currentSection === 'about' }">About</div></li>
              <li class="nav-item"><div class="nav-link scrollto" (click)="scrollTo('contact')" [ngClass]="{ 'current-section': currentSection === 'contact' }">Contact</div></li>
            </ul>
            <!--//nav-->
          </div>
          <!--//navabr-collapse-->
        </nav>
        <!--//main-nav-->
      </div>
      <!--//container-->

</header>

