<div class="container ">
    <nav class="main-nav navbar navbar-expand-md" role="navigation">
        <button class="navbar-toggler navbar-dark " type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggle-title">Menu</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-collapse" class="navbar-collapse collapse text-center justify-content-center">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="active nav-link scrollto" href="#promo">Home</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#gigs">Gigs</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#music">Music</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul><!--//nav-->
        </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
</div><!--//container-->
