<!-- ******Promo Section****** -->
<section class="promo-section section" id="promo">
	<div class="promo-carousel-holder">
		<app-promo-carousel></app-promo-carousel>
		<!--//promo-carousel-->
	</div>
	<!-- //promo-carousel-holder -->
	<div class="overlay-mask"></div>
	<div class="container text-center promo-content">
		<div class="upper-wrapper">
			<h1 class="logo-holder"></h1>
			<h2 class="headline">{{title}}</h2>
			<div class="tagline">Das Figurentheater in Luzern</div>
		</div>
	</div>
	<!--//container-->
	<div class="updates-block">
		<div class="container updates-block-inner">
			<app-update-list [dateGte]=dateGte [dateLt]=dateLt usage="upcoming"></app-update-list>
		</div>
		<!--//container-->
	</div>
	<!--//updates-block-->
</section>
<!--//promo-section-->
