.masonry-item {
	width: 200px;
}

.masonry-row {
	width: 31%;
}

.masonry-vertical-gutter {
	height: 10px;
}

// Medium devices (landscape phones, less than 992px)
@media (max-width: 991.98px) {
	.masonry-row {
		width: 47%;
	}
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.masonry-row {
		width: 100%;
	}
}
