<div class="modal-header">
	<button (click)="activeModal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button" class="close"
					type="button">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 *ngIf="1==1" class="modal-title text-center" id="infoModalLabel">Gallery</h4>
</div>
<!--//modal-header-->
<div class="modal-body" ngbAutoFocus>
  <ngx-masonry [options]="masonryOptions" [ordered]="true" (itemsLoaded)="itemsLoaded()">
    <div ngxMasonryItem [prepend]="image[0]" *ngFor="let image of masonryImages;index as idx" class="masonry-row">
      <div class="masonry-vertical-gutter"></div>
      <img [src]="image[1]" width="100%">
    </div>
  </ngx-masonry>
</div>
<!--//modal-body-->
