<div class="modal-header">
  <button
    (click)="activeModal.dismiss('Cross click')"
    aria-describedby="modal-title"
    aria-label="Close button"
    class="close"
    type="button"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title text-center" id="infoModalLabel">Gallery</h4>
</div>
<div class="modal-body" ngbAutoFocus>
  <ngx-masonry [options]="masonryOptions" [ordered]="true" (itemsLoaded)="itemsLoaded()" *ngIf="files$">
    <div
      ngxMasonryItem
      [prepend]="files$[0]"
      *ngFor="let image of files$ | async; index as idx"
      class="masonry-row"
    >
      <div class="masonry-vertical-gutter"></div>
      <a (click)="openImage(image)"><img [src]="image.path + '?nf_resize=fit&w=320'" width="100%" /></a>
    </div>
  </ngx-masonry>
</div>
