<section id="gigs" class="gigs-section section">
  <div class="container">
    <h2 class="section-title text-center">Anstehende Aufführungen</h2>
    <div class="gigs-container" *ngFor="let eventDetail of eventDetailsUpcoming$ | async">
      <app-gigs-item [eventInfoDe]="GetEventInfoFromEventDetail(eventDetail)" [start]="eventDetail.start">
      </app-gigs-item>
    </div>
    <!--//gigs-container-->
    <div class="gigs-contact text-center">
      <h4 class="title">Want to book a private gig?</h4>
      <p class="intro center-block">Sed et felis vitae odio lobortis imperdiet. Vivamus ex tellus, faucibus sed dui eu,
        mattis dictum leo. Suspendisse quis leo metus. Vivamus ut lacus nisi. Nulla facilisi</p>
      <a class="btn btn-ghost-primary scrollto" href="#contact">Get in touch now</a>
    </div>
    <!--//gigs-->
  </div>
  <!--//container-->
</section>
<!--//gigs-section-->
