<!-- ******Promo Section****** -->
<section id="promo" class="promo-section section">
  <div class="container text-center promo-content">
    <div class="upper-wrapper">
      <h1 class="logo-holder"></h1>
      <h2 class="headline">{{title}}</h2>
      <div class="tagline">Das Figurentheater in Luzern</div>
    </div>
  </div>
  <!--//container-->
  <div class="updates-block">
    <div class="container updates-block-inner">
      <div id="carousel-updates" class="carousel slide" data-ride="carousel" data-interval="6000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <!-- <div class="media-holder">
              <div class="media-thumb">
                <img src="assets/images/video-thumb-1.jpg" alt="">
                  <a id="video-play-trigger" class="video-play-trigger" data-toggle="modal" data-target="#modal-video"><i
                    class="fas fa-play"></i></a>
              </div>
            </div> -->
            <!--//media-holder-->
            <div class="carousel-content">
              <h3 class="title">Decibel's EP is out July 18th 2020</h3>
              <div class="desc">
                <div class="countdown">
                  <span id="countdown-box" class="countdown-box"></span>till release
                </div>
                <!--//countdown-->
                <p class="intro">
                  Our forthcoming EP is available for pre-order via <a href="#">pledgemusic.com</a> now
                </p>
                <!--//intro-->
              </div>
              <!--//desc-->
              <a class="btn btn-primary btn-cta" href="#">Pre-order Now</a>
            </div>
            <!--//content-container-->
          </div>
          <!--//item-->
          <div class="carousel-item">
            <div class="carousel-content no-media-holder">
              <h3 class="title">We are performing at <a class="highlight" href="#">The Fleece, Bristol</a> this Saturday
                night 9:00pm</h3>
              <div class="desc">
                <p class="intro">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes. <br><a href="#" class="more-link"
                    data-toggle="modal" data-target="#modal-info">Find out more</a>
                </p>
                <!--//intro-->
              </div>
              <!--//desc-->
              <a class="btn btn-primary btn-cta" href="#">Buy Tickets</a>
            </div>
            <!--//content-container-->
          </div>
          <!--//item-->

          <div class="carousel-item">
            <div class="media-holder">
              <div class="media-thumb">
                <img src="assets/images/image-thumb-1.jpg" alt="">
              </div>
              <!--//media-thumb-->
            </div>
            <!--//media-holder-->
            <div class="carousel-content">
              <h3 class="title">Help to fund our new album via <a href="#">KickStarter</a></h3>
              <div class="desc">
                <p class="intro">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes. <br><a href="#"
                    class="more-link">More info</a>
                </p>
                <!--//intro-->
              </div>
              <!--//desc-->
              <a class="btn btn-primary btn-cta" href="#">Support Us</a>
            </div>
            <!--//content-container-->
          </div>
          <!--//item-->


        </div>
        <!--//carousel-inner-->

        <!-- Controls -->
        <a class="carousel-control-prev" href="#carousel-updates" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-updates" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!--//carousel-updates-->
    </div>
    <!--//container-->
  </div>
  <!--//updates-block-->
</section>
<!--//promo-section-->
