.logo-holder {
  height: 150px;
  margin-bottom: 3px;
  opacity: 0.5;
}

.updates-block {
  height: 160px;
}
.promo-carousel-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
