<!-- ******Promo Section****** -->
<section id="promo" class="promo-section section">
  <div class="container text-center promo-content">
    <div class="upper-wrapper">
      <h1 class="logo-holder"></h1>
      <h2 class="headline">{{title}}</h2>
      <div class="tagline">Das Figurentheater in Luzern</div>
    </div>
  </div>
  <!--//container-->
  <div class="updates-block">
    <div class="container updates-block-inner">
      <app-promo-carousel></app-promo-carousel>
    </div>
    <!--//container-->
  </div>
  <!--//updates-block-->
</section>
<!--//promo-section-->
