@import "/src/scss/theme-1.scss";
.footer {
	background: darken($text-color-primary, 10%);
	font-weight: normal;
	color: rgba(256, 256, 256, 0.6);
	.container {

	}
	a {
			color: $theme-color;
			&:hover {
					color: darken($theme-color, 10%);
			}
	}
	.social-media-list {
		margin-bottom: 0;
		a {
			color: rgba(256, 256, 256, 0.4);
			&:hover {
				color: #fff;
			}
		}
		li {
			margin-bottom: 15px;
		}
		.svg-inline--fa {
			font-size: 32px;
		}
		.list-inline-item {
			display: inline-flex;
			flex-direction: row;
			gap: 10px;
			align-items: center;
		}
	}
}

.footer-content {
	padding: 15px;
}
