<header class="header fixed-top header-scrolled" id="header">
  <div class="container">
    <nav class="main-nav navbar navbar-expand-md" role="navigation">
      <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler navbar-dark" type="button">
        <span class="toggle-title">Menu</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        [ngbCollapse]="isMenuCollapsed"
        class="navbar-collapse collapse text-center justify-content-center"
        id="navbar-collapse"
      >
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/">Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/upcoming">Aufführungen</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/tour">Tourneestücke</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/audio">Hörspiele</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/history">Vergangene Stücke</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/team">Team</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/contact">Über uns</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
