<section id="gigs" class="gigs-section section">
  <div class="container">
    <h2 class="section-title text-center">Upcoming Gigs</h2>
    <div class="gigs-container">
      <div class="item">
        <div class="date-label">
          <div class="number">16</div>
          <div class="month">OCT</div>
        </div>
        <!--//date-label-->
        <div class="gig-info">
          <div class="info-content">
            <h3 class="gig-title">Decibel Lorem Ipsum, London</h3>
            <div class="meta">
              <ul class="meta-list list-inline">
                <li class="list-inline-item location">
                  <i class="fas fa-map-marker-alt"></i><a href="#">Dingwalls, London</a>
                </li>
                <li class="list-inline-item time">
                  <i class="far fa-clock"></i>9:00pm, Saturday
                </li>
              </ul>
            </div>
            <!--//meta-->
          </div>
          <!--//info-content-->
          <div class="gig-actions">
            <a class="btn btn-xs btn-ghost-secondary" data-toggle="collapse" href="#info-extra-1" aria-expanded="false"
              aria-controls="info-extra-1">More info</a>
            <a class="btn btn-xs btn-secondary" href="#">Buy Tickets</a>
          </div>
          <!--//gig-actions-->
          <div id="info-extra-1" class="collapse info-extra">
            Sed feugiat varius felis pulvinar tincidunt. Donec bibendum fermentum justo, sit amet commodo augue porta
            in.
            Etiam lacinia quam vel ante <a href="#">link example</a> aliquam euismod. Nam vitae molestie purus.
            Suspendisse id erat quis leo molestie laoreet at eget libero. In eget ipsum leo.
          </div>
        </div>
        <!--//info-extra-->
      </div>
      <!--//item-->
      <div class="item">
        <div class="date-label">
          <div class="number">28</div>
          <div class="month">SEP</div>
        </div>
        <!--//date-label-->
        <div class="gig-info">
          <div class="info-content">
            <h3 class="gig-title">Decibel Aenean Massa, Bristol</h3>
            <div class="meta">
              <ul class="meta-list list-inline">
                <li class="list-inline-item  location">
                  <i class="fas fa-map-marker-alt"></i><a href="#">O2 Academy, Bristol</a>
                </li>
                <li class="list-inline-item  time">
                  <i class="far fa-clock"></i>7:00pm, Thursday
                </li>
              </ul>
            </div>
            <!--//meta-->
          </div>
          <!--//info-content-->
          <div class="gig-actions">
            <a class="btn btn-xs btn-ghost-secondary" data-toggle="collapse" href="#info-extra-2" aria-expanded="false"
              aria-controls="info-extra-2">More info</a>
            <a class="btn btn-xs btn-secondary" href="#">Buy Tickets</a>
          </div>
          <!--//gig-actions-->
          <div id="info-extra-2" class="collapse info-extra">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ipsum erat. Cras quis justo vel lorem
            lobortis facilisis. Fusce rhoncus rutrum sapien posuere porttitor.
          </div>
        </div>
        <!--//info-extra-->
      </div>
      <!--//item-->
      <div class="item">
        <div class="date-label">
          <div class="number">05</div>
          <div class="month">AUG</div>
        </div>
        <!--//date-label-->
        <div class="gig-info">
          <div class="info-content">
            <h3 class="gig-title">Decibel Pharetra Lorem Vitae, San Francisco</h3>
            <div class="meta">
              <ul class="meta-list list-inline">
                <li class="list-inline-item  location">
                  <i class="fas fa-map-marker-alt"></i><a href="#">Mission, San Francisco</a>
                </li>
                <li class="list-inline-item  time">
                  <i class="far fa-clock"></i>8:30pm, Friday
                </li>
              </ul>
            </div>
            <!--//meta-->
          </div>
          <!--//info-content-->
          <div class="gig-actions">
            <a class="btn btn-xs btn-ghost-secondary" data-toggle="collapse" href="#info-extra-3" aria-expanded="false"
              aria-controls="info-extra-3">More info</a>
            <a class="btn btn-xs btn-secondary" href="#">Buy Tickets</a>
          </div>
          <!--//gig-actions-->
          <div id="info-extra-3" class="collapse info-extra">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ipsum erat. Cras quis justo vel lorem
            lobortis facilisis. Fusce rhoncus rutrum sapien posuere porttitor.
          </div>
        </div>
        <!--//info-extra-->
      </div>
      <!--//item-->

      <div class="item">
        <div class="date-label">
          <div class="number">19</div>
          <div class="month">JUL</div>
        </div>
        <!--//date-label-->
        <div class="gig-info">
          <div class="info-content">
            <h3 class="gig-title">Decibel Pharetra Lorem Vitae, San Francisco</h3>
            <div class="meta">
              <ul class="meta-list list-inline">
                <li class="list-inline-item location">
                  <i class="fas fa-map-marker-alt"></i><a href="#">Auditorium, Chicago</a>
                </li>
                <li class="list-inline-item time">
                  <i class="far fa-clock"></i>6:00pm, Saturday
                </li>
              </ul>
            </div>
            <!--//meta-->
          </div>
          <!--//info-content-->
          <div class="gig-actions">
            <a class="btn btn-xs btn-ghost-secondary" data-toggle="collapse" href="#info-extra-4" aria-expanded="false"
              aria-controls="info-extra-4">More info</a>
            <a class="btn btn-xs btn-secondary" href="#">Buy Tickets</a>
          </div>
          <!--//gig-actions-->
          <div id="info-extra-4" class="collapse info-extra">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ipsum erat. Cras quis justo vel lorem
            lobortis facilisis. Fusce rhoncus rutrum sapien posuere porttitor.
          </div>
        </div>
        <!--//info-extra-->
      </div>
      <!--//item-->
    </div>
    <!--//gigs-container-->
    <div class="gigs-contact text-center">
      <h4 class="title">Want to book a private gig?</h4>
      <p class="intro center-block">Sed et felis vitae odio lobortis imperdiet. Vivamus ex tellus, faucibus sed dui eu,
        mattis dictum leo. Suspendisse quis leo metus. Vivamus ut lacus nisi. Nulla facilisi</p>
      <a class="btn btn-ghost-primary scrollto" href="#contact">Get in touch now</a>
    </div>
    <!--//gigs-->
  </div>
  <!--//container-->
</section>
<!--//gigs-section-->
