<section id="about" class="about-section section text-center">
  <div class="container">
    <h2 class="section-title">Team</h2>
    <div class="section-intro ml-auto mr-auto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</div>
    <div class="members-block">
      <div class="row">
        <div *ngFor="let staff of staffs$ | async; index as i;">
          <div *ngIf="i%2===0" class="clearfix visible-xs"></div>
          <div class="item col-6 col-lg-3">
            <app-about-item [staff]="staff">
            </app-about-item>
          </div>
        </div>
      </div>
      <!--//row-->
    </div>
    <!--//members-block-->
  </div>
  <!--//container-->
</section>
<!--//about-section-->
