<div class="container">
  <h2 class="section-title">About</h2>
  <div class="section-intro ml-auto mr-auto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</div>
  <div class="members-block">
    <div class="row">
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="member-profile">
            <img class="img-fluid" src="assets/images/members/member-1.png" alt="">
          </div>
          <!--//member-profile-->
          <div class="member-label">Vocals</div>
          <h3 class="member-name">
            Daniel Contreras
          </h3>
          <div class="member-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum neque, ornare vitae auctor vitae, blandit
            sit amet metus. Nulla vestibulum sem odio, eget tempor nisl mattis et.
          </div>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="member-profile">
            <img class="img-fluid" src="assets/images/members/member-2.png" alt="">
          </div>
          <!--//member-profile-->
          <div class="member-label">Guitar</div>
          <h3 class="member-name">
            Tim Wallace
          </h3>
          <div class="member-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum neque, ornare vitae auctor vitae, blandit
            sit amet metus. Nulla vestibulum sem odio, eget tempor nisl mattis et.
          </div>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="clearfix visible-xs"></div>
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="member-profile">
            <img class="img-fluid" src="assets/images/members/member-3.png" alt="">

          </div>
          <!--//member-profile-->
          <div class="member-label">Bass</div>
          <h3 class="member-name">
            Andrew Bryant
          </h3>
          <div class="member-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum neque, ornare vitae auctor vitae, blandit
            sit amet metus. Nulla vestibulum sem odio, eget tempor nisl mattis et.
          </div>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="member-profile">
            <img class="img-fluid" src="assets/images/members/member-4.png" alt="">

          </div>
          <!--//member-profile-->
          <div class="member-label">Drums</div>
          <h3 class="member-name">
            Ray Anderson
          </h3>
          <div class="member-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum neque, ornare vitae auctor vitae, blandit
            sit amet metus. Nulla vestibulum sem odio, eget tempor nisl mattis et.
          </div>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
    </div>
    <!--//row-->
  </div>
  <!--//members-block-->
</div>
<!--//container-->
