<div class="modal-item">
  <div>
      <div class="modal-item-content">
        <div class="shortDesc">{{ shortDesc }}</div>
      </div>
  </div>
</div>

<img [src]="flyerImagePath" class="bannerImage img-wide" />

<div class="modal-item">
  <div class="modal-item-title">
     Plot
  </div>
  <div>
      <div class="modal-item-content">
        <div [innerHTML]="plot"></div>
      </div>
  </div>
</div>

<div class="modal-item">
  <div class="modal-item-title">
      {{ locationLabel }}
  </div>
  <div>
      <div class="modal-item-content">
        <a class="location-link" (click)="openLocation(locationName)">{{ locationName }}</a>
      </div>
  </div>
</div>

<div class="modal-item last">
  <div class="modal-item-title">
    Mitwirkende
  </div>
  <div>
      <div class="modal-item-content">
        <div *ngFor="let job of artistsArray">
          <div>
            {{ job.name }} {{ job.name !== '' ? ' : ' : '' }}
            <span *ngFor="let jobsharer of job.jobsharers; let isLast=last">
              <a class="staff-link" (click)="openStaff(jobsharer)">{{ jobsharer }}</a> {{isLast ? '' : ' & '}}
              <!-- <a [routerLink]="['/staff', jobsharer]">{{ jobsharer }}</a> {{isLast ? '' : ' & '}} -->
            </span>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- <div class="modal-item" *ngIf="usage=='Premiere'">
  <div class="modal-item-title">
    Aufführungen
  </div>
  <div class="modal-item-content">
    <div class="event-list">
      <ul *ngFor="let eventInfo of eventInfos$ | async" class="collection">
        <app-event-modal-item  [eventInfo]="eventInfo">
        </app-event-modal-item>
      </ul>
    </div>
  </div>
</div> -->
<div class="modal-item" *ngIf="usage=='CD'">
  <div class="modal-item-title">
    Bestellung CD - Preis: CHF 22.00 (inkl. Porto)
  </div>
  <div class="modal-item-content">
    <!--<a href="mailto:nathaliehildebrand@kinderkultur.ch?subject=Bestellung_CD_Das_Drachenei"></a> -->
    <p>Per E-Mail an <a target="_blank" [href]="'mailto:nathaliehildebrand?subject=Bestellung CD ' + eventInfo.name">nathaliehildebrand@kinderkultur.ch</a></p>
    <p>Betreff: Bestellung CD '{{ eventInfo.name }}'</p>
    <p>Zusätzliche Angaben in der Mail: Anzahl CDs, Name und Adresse</p>
  </div>
</div>
<div class="modal-item" *ngIf="usage=='Tournee'">
  <div class="modal-item-title">
    Buchungsanfrage
  </div>
  <div class="modal-item-content">
    <!-- <a href="mailto:regulaaufdermaur@kinderkultur.ch?subject=Buchungsanfrage_Drachenei">regulaaufdermaur@kinderkultur.ch</a> -->
    <p>Per E-Mail an <a target="_blank" [href]="'mailto:' + reservationMail + '?subject=Buchungsanfrage ' + eventInfo.name">{{ reservationMail }}</a></p>
    <p>Betreff: Buchungsanfrage '{{ eventInfo.name }}'</p>
  </div>
</div>
