.image-box{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	a{
		width:100%;
		img{
			width: 100%;
		}
	}
}

a.isDisabled {
	// color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

.quote-icon-left{
	font-size: large;
	padding-right: 20px;
}

.quote-icon-right{
	font-size: large;
	padding-left: 20px;
}

