<div class="item-inner">
	<h3 class="album-title">
		{{ name }}
	</h3>
	<div class="cover-holder">

		<a (click)="openDetail()" class="cover-figure">
			<div *ngIf="comingSoon" class="arrow-holder"></div>
			<div class="record-holder"><img alt="" class="img-fluid" src="assets/images/record.png"></div>
			<img [src]="imagePath" alt="" class="cover-image img-fluid">
			<div *ngIf="comingSoon" class="cover-label">Coming Soon</div>
			<!--//cover-label-->
		</a>
		<!--//cover-figure-->
		<a (click)="openDetail()" *ngIf="comingSoon" class="btn btn-sm btn-ghost-secondary">Vorbestellen</a>
		<a (click)="openDetail()" *ngIf="!comingSoon" class="btn btn-sm btn-secondary">Bestellen</a>

	</div>
	<!--//cover-holder-->
</div>
<!--//item-inner-->
