@import '/src/scss/theme-1.scss';

h2 {
	z-index: 200;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-indicator {
		z-index: 100;
		margin-top: -30px;
    display: inline-block;
  }

  .loading-indicator:after {
    content: "";
		width: 60px;
		height: 4px;
    display: block;
		background: $theme-color;
		left: 50%;
		@include border-radius(1px);
		animation: loading-rotate 1s;
  }

  @keyframes loading-rotate {
    0% { transform: rotate(0deg) scale(1); }		
		25% { transform: rotate(90deg) scale(0.5); }
		50% { transform: rotate(180deg) scale(2); }
		75% { transform: rotate(270deg) scale(0.5); }
	  100% { transform: rotate(360deg) scale(1); }
  }
}
