@import '/src/scss/theme-1.scss';

h2 {
	z-index: 200;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-indicator {
		z-index: 100;
		margin-top: -30px;
    display: inline-block;
  }

  .loading-indicator:after {
    content: "";
		width: 60px;
		height: 4px;
    display: block;
		background: $theme-color;
		left: 50%;
		@include border-radius(1px);
		animation-name:
			loading-rotate,
			loading-scale
		;
		animation-iteration-count:
			1, /* The FADE animation should only run once and FILL forward. */
			infinite /* The PULSE animation should repeat forever. */
		;
		animation-duration: 1000ms ; /* Same setting for both animations. */
		animation-fill-mode: both ; /* Same setting for both animations. */		
  }

  @keyframes loading-rotate {
    0% {
      transform: rotate(0deg);
			
    }
	
    100% {
      transform: rotate(360deg);
    }
  }
	
	@keyframes loading-scale {
    0% {
      transform: scale(1);
			
    }
		
		50% {
      transform: scale(0.5);	
    }

    100% {
      transform: scale(1);
    }
  }
}
