<ng-container *ngIf="eventDetails$ | async as eventDetails">
	<div *ngFor="let eventDetail of eventDetails; let i = index" class="updates-slider" (load)="changeHasData(true)">
		<section
			id="{{ usage === 'history' ? usage + '-' + eventDetail.eventDetail.facebookPixelId : usage + '-' + eventDetail.eventDetail._id }}"
			class="{{ usage !== 'history' && i > 0 ? 'update-section' : '' }}">
			<app-update-slide [eventDetail]="eventDetail.eventDetail" usage="Premiere">

			</app-update-slide>
		</section>
	</div>
</ng-container>
