<div class="section-intro center-block text-justify" id="sponsors">
	<h4 class="title">Sponsoren</h4>
	<div class="border-box">
			<div class="border-box-item text-only-sponsor">
				Stiftung Monika Widmer
			</div>
	</div>
	<div class="border-box">
		<div class="border-box-item no-border">
			<a href="https://www.rkk-luzern.ch/" alt="rkk-luzern.ch">
					<img src="/assets/images/sponsors/rkk.png" alt="logo rkk" />
			</a>
		</div>
	</div>
	<div class="border-box">
		<div class="border-box-item text-only-sponsor">
			<a href="https://www.stadtluzern.ch/dienstleistungeninformation/6505" alt="link Fonds für Kinder- und Jugendfreizeit">
					<i class="fas fa-external-link-square-alt"></i>
					Fonds für Kinder- und Jugendfreizeit
			</a>
		</div>
	</div>
	<div class="border-box">
		<div class="border-box-item bordered-box text-only-sponsor">
			Schüller-Stiftung
		</div>
	</div>
	<div class="border-box">
		<div class="border-box-item no-border">
		<a href="https://www.migros-kulturprozent.ch/" alt="rkk-luzern.ch">
			<img src="/assets/images/sponsors/Logo_FGE_MK_rgb_72dpi_DE.jpg" alt="logo Migros Kulturprozent" />
		</a>
		</div>
	</div>
	<div class="border-box">
		<div class="border-box-item bordered-box text-only-sponsor">
				Gamil-Stiftung
		</div>
	</div>
	<div class="border-box">
			<div class="border-box-item no-border">
					<img src="/assets/images/sponsors/bonitas.jpg" alt="logo Bonitas Stiftung" />
			</div>
	</div>
</div>
