<section class="gigs-section section" id="gigs">
  <div class="container">
    <app-loading-indicator [title]="'Anstehende Aufführungen'"></app-loading-indicator>
    <div class="gigs-container" *ngIf="eventDetailsUpcoming$ | async as eventDetailsUpcoming">
      <div *ngIf="eventDetailsUpcoming.length > 0; else elseBlock">
        <div *ngFor="let eventDetail of eventDetailsUpcoming" class="item" [@slideInRightOnEnter]>
          <app-gigs-item
            [eventId]="eventDetail._id"
            [eventInfoDe]="GetEventInfoFromEventDetail(eventDetail)"
            [ticketPrices]="GetPricesStringFromEventDetail(eventDetail)"
            [start]="eventDetail.start"
            [tag]="eventDetail.googleAnalyticsTracker"
            [saleState]="eventDetail.saleState"
            [preSaleStart]="GetPreSaleStartFromEventDetail(eventDetail)"
            [eventKey]="eventDetail.facebookPixelId"
            [ef_locationId]="eventDetail.locationIds?.some ? eventDetail.locationIds[0] : null"
          >
          </app-gigs-item>
        </div>
      </div>
    </div>

    <ng-template #elseBlock>
      <div class="newsletter-block">
        <p><strong>Wir arbeiten zur Zeit an neuen Stücken! Sie erfahren hier, wenn Tickets verfügbar sind.</strong></p>
        <p>Hier können Sie den <strong>Newsletter</strong> abonnieren:</p>
        <a href="http://eepurl.com/g9sVlH" target="_blank" class="btn btn-sm btn-primary">Newsletter</a>
      </div>
    </ng-template>
    <!--//gigs-container-->
  </div>
  <!--//container-->
</section>
<!--//gigs-section-->
