<div class="modal-item" *ngIf="eventDetail">
  <h3>{{ eventName }}</h3>
  <p>{{ shortDesc }}</p>
  <img [ngSrc]="imagePath" width="900" height="900" [alt]="'CD Cover ' + eventName" class="img-fluid" />
  <div *ngIf="artistsArray">
    <br />
    <div class="modal-item-title">Mitwirkende</div>
    <div class="modal-item-content">
      <div *ngFor="let job of artistsArray">
        <div *ngIf="job.isJobSharing">
          {{ job.name }} {{ job.name !== '' ? ' : ' : '' }}
          <span *ngFor="let jobValue of job.values; let isLast = last">
            <a (click)="openStaff(jobValue)" class="staff-link"
              ><i class="fas fa-external-link-square-alt"></i> {{ jobValue }}</a
            >
            {{ isLast ? '' : ' & ' }}
          </span>
        </div>
        <div *ngIf="!job.isJobSharing">
          <a (click)="openStaff(job.name)" class="staff-link"
            ><i class="fas fa-external-link-square-alt"></i> {{ job.name }}</a
          >
          {{ job.name !== '' ? ' : ' : '' }}
          <span *ngFor="let jobValue of job.values; let isLast = last"> {{ jobValue }} {{ isLast ? '' : ' & ' }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-item-title">Bestellung CD - Preis: CHF 22.00 (inkl. Porto)</div>
<div class="modal-item-content">
  <p>
    Per E-Mail an
    <a [href]="'mailto:nathaliehildebrand?subject=Bestellung CD ' + eventName" target="_blank"
      >nathaliehildebrand&#64;kinderkultur.ch</a
    >
  </p>
  <p>Betreff: Bestellung CD '{{ eventName }}'</p>
  <p>Zusätzliche Angaben in der Mail: Anzahl CDs, Name und Adresse</p>
</div>
<div class="modal-item-footer">
  <a (click)="openInfo()" class="btn btn-sm btn-ghost-secondary">Infos zum Stück</a>
</div>
