<div class="modal-item">
	<h3>{{ eventName }}</h3>
	<div>
		<p>{{ shortDesc }}</p>
	</div>
	<img [src]="imagePath" alt="" class="img-fluid">

	<div class="modal-item-content">
		<div *ngFor="let job of artistsArray">
			<div>
				{{ job.name }} {{ job.name !== '' ? ' : ' : '' }}
				<span *ngFor="let jobsharer of job.jobsharers; let isLast=last">
              <a (click)="openStaff(jobsharer)" class="staff-link">{{ jobsharer }}</a> {{isLast ? '' : ' & '}}
					<!-- <a [routerLink]="['/staff', jobsharer]">{{ jobsharer }}</a> {{isLast ? '' : ' & '}} -->
            </span>
			</div>
		</div>
	</div>
	<div class="modal-item-title">
		Bestellung CD - Preis: CHF 22.00 (inkl. Porto)
	</div>
	<div class="modal-item-content">
		<!--<a href="mailto:nathaliehildebrand@kinderkultur.ch?subject=Bestellung_CD_Das_Drachenei"></a> -->
		<p>Per E-Mail an <a [href]="'mailto:nathaliehildebrand?subject=Bestellung CD ' + eventName" target="_blank">nathaliehildebrand@kinderkultur.ch</a>
		</p>
		<p>Betreff: Bestellung CD '{{ eventName }}'</p>
		<p>Zusätzliche Angaben in der Mail: Anzahl CDs, Name und Adresse</p>
	</div>
	<div class="modal-item-footer">
		<a (click)="openInfo()" class="btn btn-sm btn-ghost-secondary">Infos zum Stück</a>
	</div>
</div>
