<div class="item">
  <div class="date-label">
    <div class="number">{{ start | date:'dd' : '' :'de-CH'}}</div>
    <div class="month">{{ start | date:'MMM' : '' :'de-CH' }}</div>
  </div>
  <!--//date-label-->
  <div class="gig-info">
    <div class="info-content">
      <h3 class="gig-title">{{ eventInfoDe.name }}</h3>
      <div class="meta">
        <ul class="meta-list list-inline">
          <li class="list-inline-item location">
            <i class="fas fa-map-marker-alt"></i><a class="location-link" (click)="openLocation(eventInfoDe.location)">{{ eventInfoDe.location }}</a>
          </li>
          <li class="list-inline-item time">
            <i class="far fa-clock"></i>{{ start | date:'EE' : '' :'de-CH'}} {{ start | date:'HH:mm' : '' :'de-CH' }}
          </li>
        </ul>
      </div>
      <!--//meta-->
    </div>
    <!--//info-content-->
    <div class="gig-actions">
      <a class="btn btn-xs btn-ghost-secondary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">Info</a>
      <a class="btn btn-xs btn-secondary" href="#">Tickets</a>
    </div>
    <!--//gig-actions-->
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="shortDesc">
        {{ eventInfoDe.shortDescription }}
      </div>
      <div>
        <a class="more-link" (click)="open()">Mehr..</a>
      </div>
    </div>
  </div>
  <!--//info-extra-->
</div>
