@import '/src/scss/theme-1.scss';

:host {
  display: flex;
	gap: 15px;
  .gig-info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .info-content {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
	.gig-row {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}


:host-context(.gigs-section .item) {
  .gig-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
  }

  span.cancel {
    color: $error;
  }

  span.cancelled {
    text-decoration-line: line-through;
    text-decoration-color: $error;
    text-decoration-thickness: 2px;
  }

  a.isDisabled {
    // color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

  .meta-list {
    display: flex;
		flex-flow: wrap;
		flex-direction: row;
		justify-content: space-between;
    margin-block-end: 0;
    color: $text-color-grey;
    a {
      color: $text-color-grey;
    }
    .svg-inline--fa {
      margin-right: 5px;
      color: $theme-color;
      font-size: 16px;
    }

    .price {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .ticket-item {
        text-wrap: nowrap;
      }
    }

  }
  .date-label {
    background: $text-color-primary;
		min-width: 56px;
    color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
    .weekday {
      margin-bottom: -2px;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
      color: rgba(256, 256, 256, 0.8);
    }
    .number {
      font-size: 24px;
      font-weight: 700;
    }
    .month {
      font-size: 14px;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
      color: rgba(256, 256, 256, 0.8);
    }
    .year {
      font-size: 16px;
      font-weight: 700;
    }
  }
  .gig-actions {
    display: flex;
    place-content: flex-end;
		align-items: baseline;
		width: 100%;
    .btn {
      margin-left: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
    .secondary-content {
      text-wrap: nowrap;
    }
    .btn-ghost-secondary {
      height: fit-content;
    }
  }

  .info-extra {
    color: $text-color-secondary;
    font-size: 16px;
  }
}

// Small devices (landscape phones, less than 992px)
@media (max-width: 991.98px) {
  :host-context(.gigs-section .container .item) {
    .gig-actions {
      align-self: flex-end;
      margin-top: 10px;
    }

    .gig-info {
      flex-direction: column;
    }
  }
}
