<ngb-carousel class="promo-carousel carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner carousel-zoom">
    <ng-template ngbSlide class="carousel-item slide-1 active">
      <div class="d-flex align-items-center justify-content-center min-vh-100">

      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item slide-2" data-interval="6000">
      <div class="d-flex align-items-center justify-content-center min-vh-100">

      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item slide-3" data-interval="6000">
      <div class="d-flex align-items-center justify-content-center min-vh-100">

      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item slide-4" data-interval="6000">
      <div class="d-flex align-items-center justify-content-center min-vh-100">

      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item slide-5" data-interval="6000">
      <div class="d-flex align-items-center justify-content-center min-vh-100">

      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item slide-6" data-interval="6000">
      <div class="d-flex align-items-center justify-content-center min-vh-100">

      </div>
    </ng-template>
  </div>
</ngb-carousel>
