@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(2, 2);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes zoom {
  from {
    transform: scale(2, 2);
  }
  to {
    transform: scale(1, 1);
  }
}

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
#slide-ngb-slide-0 {
  background: url("../../assets/images/hero/hero-1.jpg") no-repeat center center;
  background-size: auto;
  background-size: cover;
}

#slide-ngb-slide-1 {
  background: url("../../assets/images/hero/hero-2.jpg") no-repeat center center;
  background-size: auto;
  background-size: cover;
}

#slide-ngb-slide-2 {
  background: url("../../assets/images/hero/hero-3.jpg") no-repeat center center;
  background-size: auto;
  background-size: cover;
}

#slide-ngb-slide-3 {
  background: url("../../assets/images/hero/hero-4.jpg") no-repeat center center;
  background-size: auto;
  background-size: cover;
}

#slide-ngb-slide-4 {
  background: url("../../assets/images/hero/hero-5.jpg") no-repeat center center;
  background-size: auto;
  background-size: cover;
}
