<section class="about-section section text-center" id="about">
  <div class="container">
		<app-loading-indicator [title]="'Team'"></app-loading-indicator>
    <div class="section-intro ml-auto mr-auto"></div>
    <div class="members-block">
      <div *ngIf="staffs$ | async as staffs" class="row">
        <div *ngFor="let staff of staffs" [@jackInTheBoxOnEnter] class="col-12 col-md-6 col-lg-4">
          <app-about-item [staff]="staff" [isModal]="false" class="flex"> </app-about-item>
        </div>
      </div>
    </div>
  </div>
</section>
