<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <h3 class="title">Decibel's EP is out July 18th 2020</h3>
    <div class="desc">
      <div class="countdown">
        <span id="countdown-box" class="countdown-box"></span>till release
      </div>
      <!--//countdown-->
      <p class="intro">
        Our forthcoming EP is available for pre-order via <a href="#">pledgemusic.com</a> now
      </p>
      <!--//intro-->
    </div>
    <!--//desc-->
    <a class="btn btn-primary btn-cta" href="#">Pre-order Now</a>
  </ng-template>
  <ng-template ngbSlide>
    <h3 class="title">We are performing at <a class="highlight" href="#">The Fleece, Bristol</a> this Saturday
      night 9:00pm</h3>
    <div class="desc">
      <p class="intro">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
        massa. Cum sociis natoque penatibus et magnis dis parturient montes. <br><a href="#" class="more-link"
          data-toggle="modal" data-target="#modal-info">Find out more</a>
      </p>
      <!--//intro-->
    </div>
    <!--//desc-->
    <a class="btn btn-primary btn-cta" href="#">Buy Tickets</a>
  </ng-template>
  <ng-template ngbSlide>
    <h3 class="title">Help to fund our new album via <a href="#">KickStarter</a></h3>
    <div class="desc">
      <p class="intro">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
        massa. Cum sociis natoque penatibus et magnis dis parturient montes. <br><a href="#"
          class="more-link">More info</a>
      </p>
      <!--//intro-->
    </div>
    <!--//desc-->
    <a class="btn btn-primary btn-cta" href="#">Support Us</a>
  </ng-template>
</ngb-carousel>
