<!-- Video Modal -->
<div aria-hidden="true" aria-labelledby="videoModalLabel" class="modal modal-video" id="modal-video" role="dialog"
		 tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
				<h4 class="modal-title sr-only" id="videoModalLabel">Music Video</h4>
			</div>
			<div class="modal-body">
				<div class="video-container">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
										frameborder="0" height="315"
										src="https://www.youtube.com/embed/mCHUw7ACS8o?rel=0&amp;controls=0&amp;showinfo=0"
										width="560"></iframe>
					</div>
				</div>
				<!--//video-container-->
			</div>
			<!--//modal-body-->
		</div>
		<!--//modal-content-->
	</div>
	<!--//modal-dialog-->
</div>
<!--//modal-->
