<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="videoModalLabel" class="modal-title sr-only">Music Video</h4>
      </div>
      <div class="modal-body">
        <div class="video-container">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315"
              src="https://www.youtube.com/embed/mCHUw7ACS8o?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <!--//video-container-->
      </div>
      <!--//modal-body-->
    </div>
    <!--//modal-content-->
  </div>
  <!--//modal-dialog-->
</div>
<!--//modal-->
