<div *ngIf="eventInfo$ | async as eventInfo">
	<div class="modal-header">
		<button (click)="activeModal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button" class="close"
						type="button">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title text-center" id="infoModalLabel">{{ eventInfo.name }}</h4>
	</div>
	<!--//modal-header-->
	<div class="modal-body" ngbAutoFocus *ngIf="eventDetail$ | async as eventDetail">
		<app-info-item
			[eventInfo]="eventInfo"
			[eventInfoDe]="GetEventInfoFromEventDetail(eventDetail)"
			[playDate]=eventDetail.start
			[eventId]=eventDetailId
			[usage]=usage
			[tag]=this.tag
			[eventKey]=eventDetail.facebookPixelId
			[ef_locationId]="eventDetail.locationIds?.some? eventDetail.locationIds[0] : null"
			[preSaleStart]="GetPreSaleStartFromEventDetail(eventDetail)"></app-info-item>
	</div>
	<!--//modal-body-->
</div>

