@import "/src/scss/theme-1.scss";

.merch-section {
	background: $smoky-white;

	.row {
		justify-content: center;
		.item {
			margin-bottom: 30px;
		}
	}

	.merch-action {
		// margin-top: 30px;
	}
}
