<section class="music-section section text-center" id="music">
	<div class="container">
		<app-loading-indicator [title]="'Hörspiele'"></app-loading-indicator>
		<div class="sc-block ml-auto mr-auto">
			<div class="item">
			</div>
			<div class="item">
			</div>
	</div>
		<div class="albums-block">
			<div class="row">
				<div *ngFor="let eventDetail of eventDetailsCD$ | async" class="item col-12 col-md-6 col-lg-4">
					<app-music-item
					[eventDetail]="eventDetail"
					[usage]="'Tournee'">
				</app-music-item>
				</div>
			</div>
		</div>
		<div class="music-action">
		</div>
	</div>
</section>
x
