/* ======= Contact Section ======= */
.contact-section {
    background: $text-color-primary;
    color:rgba(256, 256, 256, 0.75);
    a {
        color: rgba(256, 256, 256, 0.75);
        &:hover {
            color: $theme-color;
        }
    }
    .section-title {
        margin-bottom: 30px;
        color: #fff;
    }   
    .section-intro {
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 60px;
        font-size: 16px;
    }
    
    .contact-block {
        max-width: 800px;
        margin-bottom: 90px;
        .item {
            margin-bottom: 30px;
        }
        .title {
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 18px;
        }
        .icon-holder {
            margin-bottom: 15px;
        }
        .svg-inline--fa {
            margin-right: 5px;
            color: $theme-color;
            font-size: 24px;
        }
    }
    
    .channels-list {
        margin-bottom: 45px;
        a {
            @include opacity(0.4);
            &:hover {
                @include opacity(1);
            }
        }
        li {
	        margin-bottom: 15px;
        }
    }
    
    .social-media-list {
        margin-bottom: 0;
        a {
            color:rgba(256, 256, 256, 0.4);
            &:hover {
                color: #fff;
            }
        }
        li {
            margin-bottom: 15px;
        }
        .svg-inline--fa {
            font-size: 32px;
        }
    }
    
}