/* ====== Header ======= */
.header {
    color: #fff;
    padding-top: 0;
}

.header-scrolled {
    @include box-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    background: rgba(0, 0, 0, 0.8);
    @include transition(all 0.6s ease-in-out);
    .nav>li>a  {
        color: rgba(256, 256, 256, 0.65);
    }
    .navbar-nav {
        padding-top: 0;
    }
}

/* ====== Nav ======= */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav {
    padding-top: 15px;
}
.nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-toggler {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    background: none;
    position: relative;
    top: 5px;
    right: 0;
    left: auto;
    padding-left:0;
    padding-right: 0;
    
    &:focus {
        outline: none;
    }
    
    .toggle-title {
        display: inline-block;
        color: rgba(256, 256, 256, 0.9);
        margin-right: 5px; 
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        top: 0;
        font-size:16px;
    }
    
}


.nav>li>a {
    color: #fff;
    color: rgba(256, 256, 256, 0.7);
    font-size: 14px;
    font-weight: 600;
    text-transform:uppercase;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: none;
    outline: none;
}

.nav>li>a.active {
    color: #fff;
}

