// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    
    .header {
        background:rgba(0, 0, 0, 0.9);
        padding-top: 0;

    }

    .navbar-collapse {
       @include box-shadow(none);
    }
    .nav > li.active > a {
        color: $theme-color;
    }
    
   .promo-section {
       min-height: 900px;
   }
   .promo-content {
       padding-top: 0px;
   }
   .promo-content .headline {
       font-size: 36px;
   }
   .updates-block {
       position: static;
       height: inherit;
       min-height: 400px;
   }
   .updates-block .media-holder {
       position: static;
       margin: 0 auto;
       margin-bottom: 30px;
   }
   .updates-block .carousel-content {
       padding-left: 0;
   }

   .updates-block .carousel-content .btn-cta {
       position: static;
   }
   .updates-block .carousel .item {
       height: inherit;
   }
   .updates-block .glyphicon-chevron-right {
       right: -45px;
   }
   .updates-block .glyphicon-chevron-left {
       left: -45px;
   }
   .gigs-section .gig-actions {
       position: static;
       margin-top: 15px;
       margin-bottom: 15px;
   }

  .about-section .item-inner {
      padding: 15px;
  }
  
  .merch-section .mask-inner {
      padding-top: 30px;
  }
  
  .music-section .albums-block .item-inner {
      padding: 0px;
  }
  
  .music-section .albums-block .album-title {
      @include truncate(100px);
  }
  
  .music-section .albums-block .cover-figure {
      max-width:100%;
      max-height:inherit;
  }
  
  .music-section .albums-block .cover-figure .record-holder {
      display: none;
  }
  
  .contact-section .channels-list .icon {
      //height: 15px;
  }
  
  .updates-block .carousel .carousel-item {
       height: inherit;
   }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.modal-video .modal-dialog {
		max-width: inherit;
	}
	.modal-info .modal-dialog {
		max-width: inherit;
	}
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .modal-dialog {
        width: 700px;
    }
    
    .navbar-nav {
        float: none;
    }
    .promo-content {
        padding-top: 30px;
    }
    .updates-block {
       height: 260px;
    }
    .updates-block .carousel-content .btn-cta {
       position: static;
    }
    .updates-block .carousel .item {
       height: 200px
    }
    .updates-block .glyphicon-chevron-right {
       right: -45px;
    }
    .updates-block .glyphicon-chevron-left {
       left: -45px;
    }
    .music-section .albums-block .cover-figure .record-holder {
        right: -60px;
    }
    .music-section .albums-block .cover-figure:hover .record-holder {
        right: -80px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
    .promo-content {
        padding-top: 80px;
    }
    
    .updates-block {
       height: 160px;
    }
    .updates-block .carousel-content .btn-cta {
       position: absolute;
    }
    .updates-block .carousel .item {
       height: 100px
    }
    .updates-block .glyphicon-chevron-right {
       right: -60px;
    }
    .updates-block .glyphicon-chevron-left {
       left: -60px;
    }
    .music-section .albums-block .cover-figure .record-holder {
        right: -80px;
    }
    .music-section .albums-block .cover-figure:hover .record-holder {
        right: -118px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    
}



