<!-- ******HEADER****** -->
<app-header></app-header>
<!--main scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" style="overflow-y: scroll;"-->

<app-promo></app-promo>

<app-gigs-list></app-gigs-list>

<app-merch-list></app-merch-list>

<app-music-list></app-music-list>

<app-about-list></app-about-list>

<app-contact></app-contact>
<!-- ******FOOTER****** -->
<app-footer></app-footer>
<!--//footer-->
<!-- Info Modal -->
<div id="modal-info" class="modal-info modal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
    <!--//modal-content-->
  </div>
</div>
<!--//modal-->
