@import '/src/scss/theme-1.scss';

swiper-container {
  display: block;
  width: 100%;
  height: 80vh;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
swiper-container::part(button-prev) {
  color: $theme-color;
}
swiper-container::part(button-next) {
  color: $theme-color;
}
swiper-container::part(bullet) {
  background-color: $grey;
}
swiper-container::part(bullet-active) {
  background-color: $theme-color;
}
