<div class="modal-header">
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title text-center" id="infoModalLabel">We are performing at The Fleece, Bristol</h4>
</div>
<!--//modal-header-->
<div class="modal-body" ngbAutoFocus>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
    nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
    aliquet nec, vulputate eget, arcu. In enim <a href="#">mollis pretium</a> justo, rhoncus ut, imperdiet a,
    venenatis vitae, justo. Nullam dictum felis eu pede.</p>
  <div class="center-block text-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.319931873737!2d-2.59156458423205!3d51.45228217962615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718e7bd5fd30fd%3A0x9acbbf4d84e5ca8c!2sThe+Fleece!5e0!3m2!1sen!2sus!4v1454805283508"
      width="640" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<!--//modal-body-->
