<div class="about-detail text-center">
  <div class="card item">
    <div *ngIf="staff" class="item-inner">
      <div class="member-profile">
        <img [src]="staff.imageSrc" alt="" class="img-fluid member" />
      </div>
      <div class="member-label">{{ staff.topic }}</div>
      <h3 class="member-name">
        {{ staff.name }}
      </h3>
      <div *ngIf="isModal" [innerHTML]="staff.bio" class="member-desc"></div>
			<ng-container	*ngTemplateOutlet="xy;context:{staffName: staff.name}">
			</ng-container>
    </div>
  </div>
</div>
<ng-template let-staffName="staffName" #xy>
	<a *ngIf="!isModal" (click)="staffDialog.showModal()" class="btn btn-sm btn-primary">Biografie</a>
	<dialog #staffDialog>
		<div class="modal-header">
			<h4 class="modal-title text-center" id="infoModalLabel">Mitwirkende</h4>
			<button
				(click)="staffDialog.close()"
				aria-describedby="modal-title"
				aria-label="Close button"
				class="close"
				type="button"
			>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<app-about-detail [staffName]="staffName"></app-about-detail>
		</div>
	</dialog>
</ng-template>
