<div class="updates-list slide">
	<div class="media-holder" (click)="openInfo()">
		<div class="media-thumb">
			<img [src]="imagePath" alt="update image">
		</div>
		<!--div class="media-thumb">
			<img src="assets/images/video-thumb-1.jpg" alt="">
			<a id="video-play-triggger" class="video-play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fas fa-play"></i></a>
		</div-->
	</div>
	<!--//media-holder-->
	<div class="list-content">
		<h3 class="title" (click)="openInfo()">{{name}}</h3>
		<div class="desc">
			<div class="countdown" *ngIf="futureEvent">
				<div class="countdown-box" (click)="openInfo()"><span>Premiere: </span><span class="number">{{ start | date:'dd.MM.YY, HH:mm' : '' :'de-CH'}}</span></div>
			</div>
			<!--//countdown-->
			<p class="intro">
				{{ shortDescription }}
			</p>
			<a class="btn btn-xs btn-ghost-primary" (click)="openInfo()">Info</a>
			<a class="btn btn-xs btn-primary" (click)="openGallery()" *ngIf="eventDetail.facebookPixelId">Impressionen</a>
			<a class="btn btn-xs btn-secondary" (click)="scrollTo('gigs')" *ngIf="futureEvent">Tickets</a>
			<!--//intro-->
		</div>
		<!--//desc-->
	</div>
	<!--//content-container-->
</div>
