@import "/src/scss/theme-1.scss";

.media-thumb{
  max-height: 100px;
}
.media-holder {
	display: inline-block;
	position: absolute;
	width: 170px;
	height: 100px;
	left: 0;
}
.media-thumb {
	position: relative;
}
.carousel-content {
	padding-left: 200px;
	max-width: 760px;

	&.no-media-holder {
		padding-left: 0;
		max-width: 620px;
		.title {
			margin-bottom: 15px;
		}
	}
	.title {
		font-size: 18px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 5px;
	}
	.btn-cta {
		position: absolute;
		right: 0;
		top: 30px;
	}
	.desc {
		color: rgba(256, 256, 256, 0.6);
		a {
			color: #fff;
			&.more-link {
				color: $theme-color;
				vertical-align: middle;
				&:hover {
					color: darken($theme-color, 10%);
				}
			}
		}
	}

	.highlight {
		color: $theme-color;
	}
}
