<div class="updates-carousel slide">
	<div class="media-holder" (click)="openInfo()">
		<div class="media-thumb">
			<img [src]="imagePath" alt="update image">
		</div>
		<!--div class="media-thumb">
			<img src="assets/images/video-thumb-1.jpg" alt="">
			<a id="video-play-triggger" class="video-play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fas fa-play"></i></a>
		</div-->
	</div>
	<!--//media-holder-->
	<div class="carousel-content">
		<h3 class="title" (click)="openInfo()">{{name}}</h3>
		<div class="desc">
			<div class="countdown">
				<span class="countdown-box" id="countdown-box"></span>till release
			</div>
			<!--//countdown-->
			<p class="intro">
				{{ shortDescription }}<a (click)="openInfo()" class="more-link" href="#"> Mehr dazu</a>
			</p>
			<a class="btn btn-primary btn-cta" (click)="scrollTo('gigs')">Buy Tickets</a>

			<!--//intro-->
		</div>
		<!--//desc-->
	</div>
	<!--//content-container-->
</div>
