<div class="updates-list slide" *ngIf="eventDetail">
	<div class="media-holder" (click)="openInfo(eventDetail)">
		<div class="media-thumb">
			<img [src]="imagePath" alt="update image">
		</div>
	</div>
	<div class="list-content">
		<h3 class="title">{{ eventInfo?.name }}</h3>
			<div class="countdown">
				<div *ngIf="futureEvent; then thenBlock else elseBlock"></div>
					<ng-template #thenBlock>
						<div class="countdown-box"><span [innerText]="featurePremiereEventStr + ': '"></span><span class="number">{{ eventDetail.start | date:'dd.MM.YY, HH:mm' : '' :'de-CH'}}</span></div>
					</ng-template>
					<ng-template #elseBlock>
						<div class="countdown-box" *ngIf="superfutureEvent"><span>Premiere: </span><span class="number">{{ eventDetail.start | date:'MMMM YYYY' : '' :'de-CH'}}</span></div>
						<div class="countdown-box" *ngIf="pastEvent"><span>Uraufführung: </span><span class="number">{{ eventDetail.start | date:'MMMM YYYY' : '' :'de-CH'}}</span></div>
					</ng-template>
			</div>
			<div class="description-button-block">
				<div>
					<p class="intro">
						{{ eventInfo?.shortDescription }}
					</p>
				</div>
				<div>
					<p class="imprtant" *ngIf="eventInfo?.importantNotes"> {{ eventInfo?.importantNotes}} </p>
					<a class="btn btn-sm btn-ghost-primary" (click)="openInfo(eventDetail)">Info <span *ngIf="pastEvent && eventDetail.facebookPixelId">/ Fotos</span></a>
					<a class="btn btn-sm btn-primary" [routerLink]="'/upcoming/'+ eventKey" *ngIf="futureEvent">Aufführungen</a>
				</div>
			</div>
	</div>
</div>
